{% include 'programas/header.html' %}
{% load staticfiles %}


<section class="container Single" id="home" style="background-image: url({% static 'assets/trekking_himalayas.jpg' %});">
        <div class="layer"></div>
        <h2>Toma el control....</h2>
</section>

<section class="container" id="descripcion">
     <div class="wrap">
         <h1>Coaching empresarial</h1>
         <div class="wysiwyg">
             <p>Se entiende como <span style="color: #008000;">Coaching Empresarial</span> al conjunto de técnicas utilizadas para el pro-desarrollo del equipo humano. Y esta orientado para <span style="color: #008000;">optimizar</span> eficazmente este recurso empresarial, para así alcanzar los objetivos y lograr la mayor utilidad finalmente. El <span style="color: #008000;">CE</span> es una herramienta fundamental, ya que actúa de forma <span style="color: #008000;">experiencial</span>, afectando de forma positiva a cada individuo en un equipo de trabajo, independiente del nivel de<span style="color: #008000;"> desarrollo</span> de dicho equipo.</p>
<p>Existen múltiples <span style="color: #008000;">beneficios</span> de vivir una experiencia CE, un ejemplo claro es aumentar la<span style="color: #008000;"> motivación</span>, crear lazos importantes de <span style="color: #008000;">conexión y  comunicación</span> en el equipo, por nombrar algunos.</p>
<p>Este proceso necesita ser <span style="color: #008000;">dirigido</span>, ye que se pueden vivir momentos intensos y la sinergia del grupo debe ser usada a favor del objetivo. Para ello te invitamos a que conozcas <span style="color: #008000;">nuestros servicios</span>. Podemos hacer de tu experiencia, algo único.</p>
<p>&nbsp;</p>
         </div>
     </div>
 </section>


{% include 'programas/footer.html' %}
