{% load staticfiles %}

<footer class="container" style="background-image: url({% static 'assets/backFooter.jpg' %});">
    <div class="layer"></div>
    <div class="boxFooter">
        <a href="http://mandalaconsulting.cl/" title="" class="logoText"><img src="{% static '/img/logoTexto.svg' %}" alt=""></a>
        <ul class="social">
            <li><a href="#" title="" target="_blank"><img src="{% static '/img/fb.svg' %}" alt=""></a></li>
            <li><a href="#" title="" target="_blank"><img src="{% static '/img/inst.svg' %}" alt=""></a></li>
            <li><a href="#" title="" target="_blank"><img src="{% static '/img/tw.svg' %}" alt=""></a></li>
        </ul>
        <h4>Santuario del Río</h4>
        <a href="#" title="" target="_blank">
            <p>Camino al Volcán 37.659, San Alfonso.</p>
            <p>Cajón del Maipo, Chile.</p>
        </a>
    </div>
    <img class="backTopGrey" src="{% static 'img/backTopGrey.svg' %}">
</footer>
</body>
</html>
