{% include 'programas/header.html' %}
{% load staticfiles %}

<section class="container Single" id="home"  style="background-image: url({% static '/assets/spirit.jpg' %});">
    <div class="layer"></div>
    <h2 style="position: absolute;">¡Sé la mejor versión de Ti mismo!</h2>
</section>


<section class="container" id="descripcion">
    <div class="wrap">
        <h1>Programas</h1>
        <div class="wysiwyg">
            <p>Cada uno de nuestros programas están diseñados para responder a las <span style="color: #008000;">necesidades empresariales</span> que aquejan a las empresas el día de hoy, y es están necesidades son variadas e infinitas, lo cual hace imperioso el desarrollo y constante capacitación del <span style="color: #008000;">recurso humano</span>. El avance vertiginoso de un mercado en crecimiento hacen de este capital humano una herramienta fundamental.</p>
<p>Nosotros tenemos las herramientas.</p>
<p><span style="color: #008000;">Adelante&#8230;</span></p>
        </div>
    </div>
    <img class="backBottomGrey"  src="{% static '/img/backBottomGrey.svg' %}">
</section>
</section>

<section class="container programs " id="programas" >
                <div class="wrap">
<div class="descriptionPrograms">
              <div class="colLeft">
                   <img src="{% static '/img/teamwork.svg' %} " alt="Outdoor" class="ImgTitlePrograms">
                   <h3>Coaching empresarial</h3>
                   <p>Toma el control... </p>
               </div>
               <div class="colRight wysiwyg">
                   <p>Se entiende como <span style="color: #008000;">Coaching Empresarial</span> al conjunto de técnicas utilizadas para el pro-desarrollo del equipo humano. Y esta orientado para <span style="color: #008000;">optimizar</span> eficazmente este recurso empresarial, para así alcanzar los objetivos y lograr la mayor utilidad finalmente. El <span style="color: #008000;">CE</span> es una herramienta fundamental, ya que actúa de forma <span style="color: #008000;">experiencial</span>, afectando de forma positiva a cada individuo en un equipo de trabajo, independiente del nivel de<span style="color: #008000;"> desarrollo</span> de dicho equipo.</p>
<p>Existen múltiples <span style="color: #008000;">beneficios</span> de vivir una experiencia CE, un ejemplo claro es aumentar la<span style="color: #008000;"> motivación</span>, crear lazos importantes de <span style="color: #008000;">conexión y  comunicación</span> en el equipo, por nombrar algunos.</p>
<p>Este proceso necesita ser <span style="color: #008000;">dirigido</span>, ye que se pueden vivir momentos intensos y la sinergia del grupo debe ser usada a favor del objetivo. Para ello te invitamos a que conozcas <span style="color: #008000;">nuestros servicios</span>. Podemos hacer de tu experiencia, algo único.</p>
<p>&nbsp;</p>
               </div>
           </div>
</section>
</div>

</section>

<section class="container categorias pWhite" id="programas">

       <div class="wrap">

            <ul class="ProgramList">
              <div class="wrap">
{% for programa in object_list %}
{% if programa.coaching %}
                           <li>
                             <a href="{{programa.id}}" title="{{programa.title}}">
                                  <div class="imgEffect" style="background-image: url('{{programa.img.url}}'  );">
                                      </div>
                                      <div class="layerLists">
                                        <h2>{{programa.title}}</h2>
                                      </div>
                                      <div class="boxTxt">
                                          <p>{{programa.short}} </p>
                                      </div>
                                  </a>
                              </li>
{% endif %}
{% endfor %}

                            </ul>
                      </div>

</section>
<section class="container programs pWhite" id="programas" style="padding-top: 24vh !important;">
  <div class="wrap">
     <div class="descriptionPrograms">
        <div class="colLeft">
             <img src="{% static '/img/leadership.svg' %}" alt="Outdoor" class="ImgTitlePrograms">
             <h3>Desarrollo organizacional</h3>
             <p>Comparte, Imagina, Comunica</p>
         </div>
         <div class="colRight wysiwyg">
             <p>Se entiende como <span style="color: #008000;">Desarrollo Organizacional</span> a un conjunto de herramientas que generan <span style="color: #008000;">cambios y lazos</span> importantes dentro de una empresa, en esta ocasión se trabaja desde la mirada del <span style="color: #008000;">Empresario</span> para y con sus colaboradores.</p>
<p>Dirigido a <span style="color: #008000;">Lideres, Gerentes, Dueños y Emprendedores</span>, ya que se potencian habilidades especificas para cada empresa y su empresario. Además, se busca fortalecer la <span style="color: #008000;">visión y misión</span>, y sin duda generar capacidades que brinden la seguridad necesaria para el logro de sus <span style="color: #008000;">objetivos</span>.</p>
<p>Nuestros programas se ajustan a la necesidad, es por ello que pueden ser desde una intervención de una jornada completa hasta un seguimiento anual. <span style="color: #008000;">Contactanos</span>.</p>
<p><span style="color: #008000;">¡Sé una mejor versión de ti mismo!</span></p>
</section>
     <section class="container categorias pWhite" id="programas">

            <div class="wrap">

                 <ul class="ProgramList">
                   {% for programa in object_list %}
                   {% if programa.desarrollo %}
                                <li>
                                  <a href="{{programa.id}}" title="{{programa.title}}">
                                       <div class="imgEffect" style="background-image: url('{{programa.img.url}}'  );">
                                           </div>
                                           <div class="layerLists">
                                             <h2>{{programa.title}}</h2>
                                           </div>
                                           <div class="boxTxt">
                                               <p>{{programa.short}} </p>
                                           </div>
                                       </a>
                                   </li>
     {% endif %}
     {% endfor %}

                                 </ul>
                           </div>
     </section>
     <section class="container programs " id="programas" >
             <div class="wrap">
         <div class="descriptionPrograms">
            <div class="colLeft">
                 <img src="{% static '/img/yoga.svg' %}" alt="Outdoor" class="ImgTitlePrograms">
                 <h3>Salud empresarial</h3>
                 <p>Vuelve a Conectarte</p>
             </div>
             <div class="colRight wysiwyg">
                 <p>Se entiende por <span style="color: #008000;">Salud Empresarial</span> a un conjunto de herramientas que se utilizan para favorecer el ambiente laboral, generar <span style="color: #008000;">equipos sanos</span> de trabajo, en ambientes controlados.</p>
<p>Esto genera una cantidad importante de <span style="color: #008000;">beneficios</span>, ya que nuestros programas buscan de forma <span style="color: #008000;">integral</span> que cada colaborador este sano, lo que <span style="color: #008000;">optimiza tiempo</span>, reduce <span style="color: #008000;">accidentes</span>, incluso disminuir las <span style="color: #008000;">enfermedades</span> en el equipo entre otros.</p>
<p>Realizamos intervenciones en terreno e/o in situ, imagina armonizar integralmente a tu equipo con<span style="color: #008000;"> Yoga para oficinas</span>, o reirnos un poco de nosotros, incluso cambiar nuestros paradigmas con <span style="color: #008000;">juegos mentales</span>.</p>
<p>infinitas posibilidades si buscas mejorar la salud de tus colaboradores.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
             </div>
         </div>
</section>
<section class="container categorias pWhite" id="programas">

       <div class="wrap">

            <ul class="ProgramList">
              {% for programa in object_list %}
              {% if programa.salud %}
                           <li>
                             <a href="{{programa.id}}" title="{{programa.title}}">
                                  <div class="imgEffect" style="background-image: url('{{programa.img.url}}'  );">
                                      </div>
                                      <div class="layerLists">
                                        <h2>{{programa.title}}</h2>
                                      </div>
                                      <div class="boxTxt">
                                          <p>{{programa.short}} </p>
                                      </div>
                                  </a>
                              </li>
{% endif %}
{% endfor %}

                            </ul>
                      </div>
</section>
{% include 'programas/footer.html' %}
